@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
	display: grid;
	grid-template-rows: 0fr;
	transition: 1s;
	overflow: hidden;
}
#content .inside {
	min-height: 0;
}
#content.expanded {
	background: red;
	grid-template-rows: 1fr;
}

.island {
	width: 100px;
	height: 100px;
	background-color: #8ccfbb;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

.dark-shadow {
	box-shadow: 0px 4px 10px -2px rgba(255, 255, 255, 0.1),
		0px 2px 2px -1px rgba(255, 255, 255, 0.05),
		inset 0px -1px 4px 0px rgba(0, 0, 0, 0.3);
}

@keyframes pinkShadowAnimation {
	0% {
		box-shadow: 0px 4px 10px -2px rgba(255, 45, 85, 0.2),
			0px 2px 2px -1px rgba(255, 45, 85, 0.7),
			inset 0px -1px 4px 0px rgba(255, 45, 85, 0.2);
	}
	50% {
		box-shadow: 0px 8px 20px -4px rgba(255, 45, 85, 0.4),
			0px 3px 3px -2px rgba(255, 45, 85, 0.8),
			inset 0px -2px 8px 0px rgba(255, 45, 85, 0.4);
	}
	100% {
		box-shadow: 0px 4px 10px -2px rgba(255, 45, 85, 0.2),
			0px 2px 2px -1px rgba(255, 45, 85, 0.7),
			inset 0px -1px 4px 0px rgba(255, 45, 85, 0.2);
	}
}

.pink-shadow {
	box-shadow: 0px 4px 10px -2px rgba(255, 45, 85, 0.2),
		0px 2px 2px -1px rgba(255, 45, 85, 0.7),
		inset 0px -1px 4px 0px rgba(255, 45, 85, 0.2);
	animation: pinkShadowAnimation 3s infinite;
}

@keyframes waveAnimation {
	0%,
	100% {
		transform: translateY(0);
	}
	20%,
	80% {
		transform: translateY(-3px);
	}
	40%,
	60% {
		transform: translateY(0px);
	}
}

.waving-letters span {
	display: inline-block;
	animation: waveAnimation 3s infinite;
	animation-delay: calc(var(--index) * 0.1s);
}

/* Adjust the initial position of the letters */
.waving-letters span:nth-child(1) {
	animation-delay: 0s;
}
.waving-letters span:nth-child(2) {
	animation-delay: 0.1s;
}
.waving-letters span:nth-child(3) {
	animation-delay: 0.2s;
}
.waving-letters span:nth-child(4) {
	animation-delay: 0.3s;
}
.waving-letters span:nth-child(5) {
	animation-delay: 0.4s;
}
.waving-letters span:nth-child(6) {
	animation-delay: 0.5s;
}
.waving-letters span:nth-child(7) {
	animation-delay: 0.6s;
}

@keyframes rotateAnimation {
	0%,
	100% {
		transform: translateY(0) rotate(0deg);
	}
	50% {
		transform: translateY(-3px) rotate(-5deg);
	}
	50% {
		transform: translateY(0) rotate(5deg);
	}
}

.waving-container {
	display: inline-block;
	animation: waveAnimation 3s infinite;
	animation: rotateAnimation 1s infinite;
}
